[2021-12-05 05:35] tylergaw opened #2 "Build errors when using Icon component"
I'm using `Icon` with a minimal Astro setup, but hitting errors during build that prevent usage.

Here's a repo with an isolated example and all the details in this issue https://github.com/tylergaw/astro-icon-issue-1-example

The setup

- Astro `0.21.10`
- astro-icon `0.2.1`
- node `14.6.0` (also tried `16.9.1` with same results)

I've copied the main bits from the demo here https://github.com/na

[2021-12-05 06:24] natemoo-re commented on #2
Yep, seeing this as well! Adding this to your `astro.config.mjs` file seems to fix it.

[code]

[2021-12-05 06:40] tylergaw commented on #2
Oh cool. Yep, that fixes it for me too. Thank you

[2021-12-05 06:50] lyqht commented on #2
thanks, this fixes for me too!

[2021-12-05 16:41] natemoo-re commented on #2
I've added these instructions to the main README, so I'm going to close this issue.

Still want to look into vendoring `svgo` or some other solution to fix this problem without needing a config step. It's also possible this will be fixed by upgrading Vite inside of Astro.

[2021-12-05 16:41] #2 closed

[2021-12-05 19:03] Tc-001 opened #5 "Idea: Callable script to load icon packs or dynamic icons"
If you have a `./src/icons/foo.ts` file that default-exports `function get(name: string): string` which returns a raw svg string for a given icon `name`, you can call said function with `<Icon name="foo::some-icon" />`.

This way a user can use icon packs like `bootstrap-icons` without having to either have 15k files or manually copy over new ones any time they need one.
It could also be used to g

[2021-12-05 23:44] natemoo-re commented on #5
Love this idea. I was thinking about a `pack` prop that could grab SVGs from dependencies, but this might be an even cleaner solution! I'll definitely start trying to prototype it!

[2021-12-06 00:24] natemoo-re commented on #5
Take a look at https://github.com/natemoo-re/astro-icon/tree/feat/packs! I'm not sure if there's a way to genericize the loading logic since packages are probably all structured differently.

[2021-12-06 08:33] Tc-001 commented on #5
That is why I did the script part. That way the developer can add a translation/adapter layer between `astro-icon` and the pack of their choice

[2021-12-06 18:08] drwpow opened #9 "Feature Request: option to normalize CSS & IDs"
## Problem

Many icons are optimized using [SVGO](https://github.com/svg/svgo) which is very good at compression! But the side effect is that it will minify classes and IDs, like so:

[code]

Even if icons aren’t optimized with SVGO at all, there’s still a really good chance of class & ID conflicts if a sprite sheet is big enough (`id="Layer_1"` is suspect). Any conflict at all will likely mean th

[2021-12-06 19:15] natemoo-re commented on #5
Going to close this one out, about to ship support for this!

Also added built-in support for the most popular icon packs via [Iconify](https://iconify.design/) because why not!

[2021-12-06 19:15] #5 closed

[2021-12-06 19:17] natemoo-re commented on #9
Yeah I like this idea a lot, I'm also bitten by this frequently!

For reference if you end up digging into this, we already have a [`preprocess` function](https://github.com/natemoo-re/astro-icon/blob/main/packages/core/lib/utils.ts#L69-L94) that could be extended with this behavior.

[2021-12-07 14:00] Princesseuh opened #11 "SpriteSheet doesn't detect icons used in components"
## Problem
It seems like the tracking system used by SpriteSheet to get a list of your used icons doesn't detect icons that are used in components. This worked before this tracking system was added

## Exemple use case
I have a BaseLayout.astro file with `<SpriteSheet/>` at its end, that `BaseLayout.astro` has a `<Socials>` component that includes icons and it causes the following error: `[astro-i

[2021-12-07 18:27] natemoo-re commented on #11
Thank you for opening an issue! You're totally correct, I'll try to take a look at this soon!

[2021-12-08 19:27] natemoo-re commented on #11
This was an interesting challenge to fix!

In some situations it worked, in others it didn't. Astro components are `async` and children are rendered in parallel, so if `SpriteSheet` was a sibling of any components that contained `Sprite`, it would resolve before the component `Sprite` did.

To fix this, I've deprecated `SpriteSheet` in [v0.5.0](https://github.com/natemoo-re/astro-icon/blob/main/pa

[2021-12-08 19:27] #11 closed

[2021-12-08 22:59] natemoo-re commented on #9
Actually, I did a lil digging and `svgo` already has this feature built-in! I just don't think many other tools have use for it, but we sure do.

Will be adding this in a patch release. ☺️

[2021-12-08 23:03] natemoo-re commented on #9
`itshappening.gif`

https://github.com/natemoo-re/astro-icon/commit/0217a716c7278e30a04de45f72e7a3cce5c65180

[2021-12-08 23:03] #9 closed

[2021-12-13 21:22] Tc-001 opened #15 "Inserting an `<Icon />` element into `map` will fail on first render & all build"
## Bug
Adding an Icon component as part of a `map` operation will fail all but the first icon

## Code sample
`{[1,2,3].map(() => <Icon name="bi:stars" /> )}`

## Errors

### Dev
on first dev load (2/3 icons missing, everything works after a refresh):
[code]
![image](https://user-images.githubusercontent.com/55956895/145889884-bd5f4161-5b86-4286-9e57-94995454da0c.png)
---
### Build
Build does not

[2021-12-13 22:59] Tc-001 commented on #15
The issue stated when I upgraded from `0.4.6` to `0.5.1`
Reverting seems to solve this for my simple usecase, at least for now.

[2021-12-15 04:23] #15 closed

[2021-12-15 04:28] natemoo-re commented on #15
This should be working in `0.5.2`! See working reproduction https://codesandbox.io/s/aged-star-p5jlo?file=/src/pages/index.astro

[2022-01-21 09:52] AndreBClark opened #21 "Unable to load local Icons when using "--experimental-static-build" flag"
thanks for making this very useful component.
unfortunately I noticed an issue with using the package with the new experimental build flag. this may be an issue with the new build process, or something wrong with the `astro-icon`.
of course user error on my end is always a possibility.
let me know if there is any additional information I can provide
- works fine without the flag, works correctly w

[2022-01-21 20:53] AndreBClark commented on #21
appears to work as expected with astro@next. Perhaps this will likely be fixed on the next release for Astro?

[2022-01-23 15:11] schlichtanders opened #22 "How to make the icons be of same size as text?"
I've tried using the astro-icon package, but found very huge icons appearing.

Is there a standard way to make the icons of the size of the text they stand next to?

[2022-01-23 22:30] AndreBClark commented on #22
you can set styles/classes as attributes for the icons or use width/height attributes directly. you can use `rems` to size the icon relative to your base font size  which is `16px` by default or multiples of it
[code]
hope this helps

[2022-01-24 14:07] schlichtanders commented on #22
Thank you for the quick help.

I also looked into the source code and to the best of my understanding I would need to add the height information everywhere separately. That is too inconvenient for me unfortunately, but may work for others.

[2022-01-24 14:07] #22 closed

[2022-01-24 14:09] schlichtanders opened #23 "think about merging this effort with unplugin-icons"
iconify is the go-to option for icons. It would be great to have a canonical way of using such items in astro.
To the best of my understanding, unplugin-icons would be the best place to create such canonical solution.

I already opened a feature request over there https://github.com/antfu/unplugin-icons/issues/154

How do you think about mergin `astro-icon` into `unplugin-icons`?

[2022-01-24 14:28] schlichtanders opened #24 "Feature Request: add possibility to globally define parameters such as height"
As seen in a separate issue, one cannot easily style the height for all icons to "1em".

At least for me, this global font scaling is very important, as I expect my fonts to just work and not need extra individual tweaking.

I am not sure whether it is possible, but if so, it would be nice to have some global options for this.

[2022-01-29 04:17] AndreBClark commented on #21
appears to not work with astro@0.22.20 with flag.
workaround: disable `--experimental-static-build` flag

[2022-02-08 14:44] jgil-r opened #25 "Unescaped HTML content found inside expression warning"
I recently upgraded to astro@next (0.23.0-next.2) and after starting the dev server I get the following warning:

*_I am only using the `<Icon />` component in my site_

[code]

I'm assuming this warning is coming from [here](https://github.com/natemoo-re/astro-icon/blob/6d17602aa58b4f8c5c10effce22de8b59715f489/packages/core/lib/Icon.astro#L28) right?

So once features from `0.23.0-next.2` are in

[2022-02-17 19:11] natemoo-re commented on #25
Fixed in `astro-icon@0.6.0`, which is going out now. Thanks!

[2022-02-17 19:11] #25 closed

[2022-02-17 19:18] natemoo-re commented on #21
Sorry for the delay here! This was fixed in https://github.com/natemoo-re/astro-icon/pull/26. `astro-icon@0.6.0` should now work with `--experimental-static-build` enabled.

[2022-02-17 19:18] #21 closed

[2022-02-23 11:46] btk5h opened #28 "Bug: Sprite.Provider/Spritesheet breaks pages where sprites are not used"
`Sprite.Provider` breaks pages that do not use any sprites.

## Steps to reproduce
Create an astro page with a `Sprite.Provider` but with no `Sprite` components as children

## Observed behavior
The page fails to build with a misleading "\<SpriteSheet\> should be the very last child of the page's \<body\>!" error

## Desired behavior
The page builds and renders properly

## Workaround
Don't render

[2022-02-27 15:54] sachinraja opened #29 "Missing icon packs"
Hey, first of all, thanks for making this, this makes working with icons much easier for me.

Would it be possible to update `@iconify/json`?
https://github.com/natemoo-re/astro-icon/blob/d2e7fafe79369df19f79fe120e00fc829c27ab62/packages/service/package.json#L21-L25

I want to use an icon added in a newer version of a pack but `@iconify/json` is not on the latest version here.

[2022-03-24 17:13] natemoo-re commented on #29
Thanks for opening an issue! I'm thinking through how to version the service without breaking anyone... do you know which version of `@iconify/json` you need?

[2022-03-24 17:14] natemoo-re commented on #28
Ah this is a good point, I think I can remove this behavior now. This was mostly to catch issues when migrating.

[2022-03-24 17:37] sachinraja commented on #29
I need version `2.0.10`, where the Simple Icons collection added the Astro icon. I'm not sure what the breaking change is.

[2022-04-05 22:38] natemoo-re commented on #28
Fixed this in https://github.com/natemoo-re/astro-icon/commit/3b29d893bbb385c8e6e8fa51b421fefa17b050ac and released in `astro-icon@0.7.0`!

[2022-04-05 22:38] #28 closed

[2022-05-06 20:08] JuanM04 opened #35 "`svgo` and SSR"
`svgo` is a Node.js-only package, thus, it doesn't work in the brand-new environments that Astro SSR supports (e.g. Netlify/Vercel Edge, Deno, Cloudflare workers).

Is there any other option that supports more environments? Or there could be a way to disable svgo altogether so Astro can build successfully?

[2022-05-17 14:13] ownchoice opened #36 "Add `title` inside `svg` to improve accessibility"
I think it would be nice to be able to add a `title` tag inside the `svg` of the icon, for accessibility purposes.

[code]

For reference: [Accessible SVG Icons | CSS-Tricks](https://css-tricks.com/accessible-svg-icons/)

[2022-06-09 14:49] m4rrc0 commented on #36
I was just looking for the exact same thing and discovered there is a `title` prop for that. 🤩
See [Props.ts](https://github.com/natemoo-re/astro-icon/blob/main/packages/core/lib/Props.ts) for all the props available.

[2022-06-10 18:48] #36 closed

[2022-06-16 21:07] ran-dall commented on #24
@schlichtanders, I believe you can use `[astro-icon]` in your project's root `.css` document to style all icons together. It also works with PostCSS in the pipeline too.

[2022-06-16 22:20] peterlobster commented on #29
I would like to see this updated too. There are actually quite a few icons missing from [the current set](https://github.com/iconify/icon-sets/blob/1.1.439/collections.md) which looks to be about 6 months old.

@natemoo-re I believe that they update the upstream repo quite a bit (`3 times a week by (a) fully automated script`). So it might be worth considering implementing [Dependabot](https://git

[2022-06-16 22:53] ran-dall opened #37 "` [astro-icon]` styling in a scoped component fails with `Unknown word`"
Inputting any css styles with ` [astro-icon] ` on a scoped component fails...

#### `src/components/my-component`
[code]

#### `ERROR`
[code]

[2022-06-17 08:47] schlichtanders commented on #24
thank you for your help.

can you give a concrete example css?

[2022-06-17 12:58] ran-dall commented on #24
@schlichtanders Sure.

#### src/styles/style.css
[code]

[2022-06-17 13:05] schlichtanders commented on #24
thank you very much.
Closing this issue then

[2022-06-17 13:05] #24 closed

[2022-06-17 16:59] RobertAKARobin opened #38 "Using a custom path for local icons instead of `/src/icons`?"
It looks like `/src/icons` is hardcoded into the loader:

https://github.com/natemoo-re/astro-icon/blob/4cfc1badfb5978829c1dfeb5b56491238a3a8e74/packages/core/lib/utils.ts#L189

It would be nice if this was configurable. :)

Specifically I'd like to import from `/public`, if possible.

[2022-06-20 21:31] JReinhold commented on #35
To add more context to the issue, the error that is thrown when building is this:
[code]

Many of the SSR adapters enable `noExternal` in the vite ssr configuration (for good reason). I've tried to remove that by patching the integration module, but that just results in other errors:

[code]

Another issue with SSR is that the default behaviour of `astro-icon` is to fetch the icon via the web serv

[2022-06-21 17:37] okikio opened #39 "bug: `astro-icon` is emitting the logic for fetching Astro icons out when using Astro SSG (astro build mode)"
`astro-icon` is emitting the logic for fetching Astro icons out when using Astro SSG (astro build mode), even though the expectation is that you get the final svgs

[2022-07-03 12:53] silveltman opened #40 "Recommended tailwind styling?"
First of all, awesome plugin!

I'm like using tailwind but am not sure which way is best to style the icons. Something like below?

[code]

If so, might be useful to take up in the README.

I think it will be a great addition to add a 'class' prop. Would make things a lot easier when using tailwind and protentially cleaner in some cases when using regular styles.

[2022-07-04 13:00] silveltman opened #41 "Use in non-astro components?"
Can this be used in components other than .astro? Like .svelte, .vue etc.

I'm getting an error but not sure what the exact reason for this is

[2022-07-15 15:49] JulianCataldo commented on #40
Hello,

I use it like this, it works for me:

`<Icon name="system-uicons:trash" size={'1em'} class="salut" />`

[code]

[2022-07-15 15:50] JulianCataldo commented on #29
Mhhh…
I'm missing `system-uicons:cubes` and others too

[2022-07-15 15:55] JulianCataldo opened #43 "Simplify `Props` with ` astroHTML.JSX.SVGAttributes`"
Hello!

Maybe this:

[code]

Could now simplify the `Props` part of this component? With the benefit of Astro ecosystem homogenization.

[2022-07-19 08:55] mgjules commented on #29
Is there any update on the issue or a roadmap? Thanks

[2022-07-22 19:54] ubarilan commented on #35
I have the exact same issue.
This feature is necessary because many people run astro with ssr in mind and it makes that impossible when using `astro-icon`

[2022-07-25 12:31] neuro-bro commented on #2
**FYI potential update:**
I have only tested in a lame site (nothing huge) but the svgo config requirement inside vite (possibly) isn't required any longer.

Running latest Astro v1.0.0-beta.73.

Definitely check a little more extensively before removing the section of the docs, though.

[2022-08-05 09:20] lyqht opened #48 "Icon not found"
Got the following error

[code]

However, I've checked from the charm icon pack that [it exists](https://icon-sets.iconify.design/charm/newspaper/).

[2022-08-17 13:21] czottmann opened #49 "Props like `stroke-width` are not passed down to `svg` element's children"
## Issue description

Props passed to `Icon` are only applied to the "top-level" `svg` element but not its children.  I noticed this while working w/ Tabler icons. For example, when I tell `Icon` to use a stroke width of 1 and to use the color red, the emitted `svg` element shows both those properties but they're ignored by the contained `path` element.  (See example below.)

I don't know whether

[2022-08-19 17:59] jjjrmy commented on #35
Having the same issue when trying to use with Cloudflare Pages

[2022-08-21 19:18] yacosta738 commented on #41
Hi, I am interested in use in other components. Is that possible?

[2022-08-22 07:52] simpleauthority commented on #35
Resolution / update badly needed. Cannot deploy to CF pages using SSR :-(

[2022-08-22 16:22] chayapan opened #50 "Cannot load SVG icon although the files is there"
I have an SVG icon that I want to use. I out the SVG file in /src/icons in the project but when rendering it doesn't work.

Here is the error

`Error: [astro-icon] Unable to load "/src/icons/mylogo.svg". Does the file exist?
    at Module.load [as default] (/node_modules/astro-icon/lib/utils.ts:182:13)
    at eval (/node_modules/astro-icon/lib/Icon.astro:26:52)
    at Module.renderToIterable (/nod

[2022-08-24 11:09] simpleauthority commented on #35
After doing some research, I have found that svgo actually includes a browser version as well as a node version. I have feebly tried to fork and create a PR but I cannot get it working properly on my dev server. Node complains about unexpected exports, even though a diff between the versions shows only some work in the optimize function...

Sigh.

Anyway, one can import `optimize` from `svgo` for

[2022-08-25 01:59] richcorbs opened #51 "Heroicons not found?"
Looks like `https://api.astroicon.dev/v1/heroicons/<anything>` returns `Not Found: Pack "heroicons"`.

Maybe it has to do with their release of heroicons v2 this week?

[2022-08-25 07:04] mrabtikhalid opened #52 "The library does not work with ssr deno server"
Hello
This issue is related to #35
I have an astro project with deno server, and when dev processing, the project works properly without any compile error,
But when compiling to build (npm run build), it gives me the folowing error
[code]

because its based on node js libraries, i tried to found some alertnatives with native javascript or works on deno, but my knowledge is not that good .
any help

[2022-08-25 07:13] mrabtikhalid commented on #35
hello [simpleauthority](https://github.com/simpleauthority) i opened an issue #52 and i suggested to use a javascript native approach and not depend on nodejs , i can help with a fix , i just need some hints or approach, i will search for alternatives later

[2022-08-26 03:00] simpleauthority commented on #35
Yeah I am not sure if there is anything that is plain JS or not. I'll have to keep looking, too.

[2022-08-26 04:39] coding-in-public commented on #51
Looks like they've fixed it? @richcorbs

It was probably from the Iconify api?

[2022-08-26 04:48] richcorbs commented on #51
I'm still seeing the same thing. I've tried:

- https://api.astroicon.dev/v1/heroicons/menu
- https://api.astroicon.dev/v1/heroicons/bars-3

It still gives me the "pack not found" error.

Are you seeing it working?

[2022-08-26 22:45] richcorbs commented on #51
So `heroicons-outline/menu` worked. This is probably user error?

[2022-08-26 22:45] #51 closed

[2022-08-28 15:42] kissu commented on #41
I guess that we could use https://github.com/antfu/unplugin-icons for the other languages but it's indeed a bit counter-productive to need to have both.

[2022-08-30 20:15] pedrosc94 commented on #35
I also can't deploy on netlify with edge functions.
I know it's not ideal because the svg won't get optimized, but removing all the svgo related stuff wouldn't fix the problem? I just don't know how to do it.

[2022-08-30 22:26] simpleauthority commented on #35
That would work but not sure if it would be an acceptable solution for @natemoo-re. It might be as simple as commenting out this line https://github.com/natemoo-re/astro-icon/blob/main/packages/core/lib/utils.ts#L83 for now but not sure if we'd need to go and actually remove all the code for it to get it to run properly.

[2022-09-03 17:04] mrabtikhalid commented on #35
I endup using the library without the svg compression for the moment,

[2022-09-04 14:46] pedrosc94 commented on #35
Yeah I also went for a workaround for now, and created a RootLayout.astro with `<script src="https://cdnjs.cloudflare.com/ajax/libs/iconify/3.0.0-beta.3/iconify.min.js"></script>` and then I just import that layout to my other layouts, then I use `<span class="iconify-inline" data-icon="simple-icons:twitter" data-height="24"></span>
`

[2022-09-04 14:48] pedrosc94 commented on #35
But would would prefer to use this package just for the sake of simplicity

[2022-09-13 06:47] cami7ord commented on #35
Same problem deploying to deno.

[2022-09-16 02:38] lasfito commented on #35
bumping this up!

[2022-09-20 13:00] zaha opened #53 "Improve Documentation on Local Icon Pack"
Hi!

While trying to create my own local icon package I noticed the docs for astro/icon don't reflect the latest changes in the import path here:
https://github.com/natemoo-re/astro-icon#local-icon-packs

[code]
should be
[code]
according to the changelog.

Also, the following comment could be improved:
[code]

Does this mean the icon will be searched for in `src/icons/heroicons/outline`?
I tried

[2022-09-21 15:51] skreutzberger commented on #35
I have the same problem with SSR on Netlify.

[2022-09-27 01:20] jjjrmy commented on #35
Is there a workaround for the time being?

[2022-09-27 06:42] NobbZ opened #54 "Offline mode"
I am using a build system for reproducible builds. This does not allow for internet access under normal circumstances.

I can circumvent this restriction by offloading the internet access to other buildsteps, though these are required to have a fixed output then.

Therefore I'd like to maintain a list of SVGs to be used in an extra file and using that to "prefetch" them into a cache location and t

[2022-09-27 12:19] Coretteket opened #55 "Invalid HTML due to astro-icon attribute"
Custom attributes without the `data-` prefix are non-standard, and disfavored by validators like [Nu Html Checker](https://validator.w3.org/nu/) (see below). It would be a breaking change, but replacing `astro-icon` with `data-astro-icon` (or `data-icon`) would be an improvement.

![afbeelding](https://user-images.githubusercontent.com/33397397/192524577-e439d7b8-f6ca-4470-987c-85e5d79b02bf.png)

[2022-10-06 07:24] manuelmeister commented on #48
This probably has to do with #29

[2022-10-06 15:24] stramel commented on #29
I just stumbled upon this issue as well. I'm not aware of the original decision behind the service but is the service necessary?

To bypass the versioning issue, would it make more sense to make `@iconify/json` a peer dependency in which the `astro-icon` loads from and grabs the icon data? Doing it this way would allow for each application to manage their version range of the `@iconify/json` and e

[2022-10-07 09:27] dwightjack opened #57 "Sprite provider components prevents Svelte hydration"
It seems that placing a Svelte component within the `<Sprite.Provider />` component causes hydration to silently fail.

I have created a demo sandbox based on the official Stackblitz template: https://stackblitz.com/edit/github-aknziw?file=src/pages/index.astro.

The first `<Counter />`, placed inside the provider, gets rendered but is not interaction. The second one is correctly interactive.

Any

[2022-10-07 14:36] zaha commented on #29
I'm another one that just stumbled over this and have finally an explanation why some icons just wouldn't work.

I am in favor of @stramel's suggestion of making this a peer dependency, letting the individual applications manage the version of `@iconify/json` themself.

[2022-10-07 15:15] DJOCKER-FACE commented on #29
Same problem here is there any quick fix?

[2022-10-07 15:19] zaha commented on #29
My quick fix is to download the icons as SVG and use them as [local icons](https://github.com/natemoo-re/astro-icon#local-icons).

[2022-10-10 01:54] dwightjack commented on #57
I have updated the demo sandbox to better reproduce the issue: https://stackblitz.com/edit/github-aknziw?file=src/pages/index.astro

[2022-10-10 02:36] dwightjack commented on #57
After some more investigation, it seems to be an issue related to `Astro.slots.render()`. I have opened an issue in the Astro main repository: https://github.com/withastro/astro/issues/5032

[2022-10-10 16:41] stramel commented on #29
@zaha I forked and did a quick implementation using the updated tooling and `@iconify/json` as a peerDependency. Seems to be working 👍🏼

You can try it out using:

[code]

@natemoo-re @matthewp Let me know if you want me to clean it up and submit a PR (https://github.com/natemoo-re/astro-icon/compare/main...stramel:astro-icon:main)

[2022-10-10 20:52] stramel commented on #43
Was able to simplify it to:

[code]

[2022-10-12 13:34] HritikR opened #60 "Google Material Symbols not Found"
Code :  `<Icon name="material-symbols:10k"  />`

[code]

[2022-10-13 02:50] J-env opened #62 "typescript Props tips?"
Component has no props tips

[2022-10-13 12:48] SenseiMarv commented on #29
Thank you very much for coming up with a solution! While newer icon packs now work with the dev server running locally, Vercel still seems to have problems as I now get the error `Error: [astro-icon] Unable to load icon` in the serverless function after deploying your solution when using an icon from the icon set `fluent-emoji-high-contrast`:
[code]

[2022-10-13 14:59] stramel commented on #29
@SenseiMarv I'm not very familiar with the Vercel serverless function. However, from the error message, it seems like the file may not exist? Can you confirm that the `@iconify/json` is installed on your deployed environment?

[2022-10-13 20:45] stramel commented on #29
@SenseiMarv So I dug into this a bit today. The issue is that with the Vercel serverless functions, they don't deploy `node_modules` and the function is going to attempt to read from `node_modules/@iconify/json` folder upon request.

I'm looking into solutions currently as this would affect all serverless functions that don't have access to the `node_modules` folder. You can also swap to Vercel st

[2022-10-14 15:29] stramel commented on #29
@SenseiMarv I was able to get it up and working on Vercel. https://astro-icon-test.vercel.app/

Huge thanks to @JuanM04 for the PR in Vercel to make this work. Once the changes in https://github.com/withastro/astro/pull/5085 have been merged, you should be able to do:

[code]

[2022-10-16 02:21] caincodes commented on #51
I'm having the same issue. `heroicons-outline` works, but that's not heroicons v2, and v1 is considered archived/unmaintained by Iconify, so this should probably be updated if that's the issue.

[2022-10-16 12:01] #60 closed

[2022-10-18 14:30] stramel commented on #41
You can use the `Icon` component in other framework components by utilizing the `<slot />` feature.

https://docs.astro.build/en/core-concepts/framework-components/#can-i-use-astro-components-inside-my-framework-components

[2022-10-18 14:37] stramel commented on #50
@chayapan Can you provide the code you're using to help us debug?

[2022-10-18 14:41] stramel commented on #37
@ran-dall It appears that you have an error in your styling.

[code]

[2022-10-18 22:34] kissu commented on #41
I will need to give that one a try!

[2022-10-20 16:56] stramel commented on #41
Going to close this since this is possible. Feel free to comment if you're experiencing issues.

[2022-10-20 16:56] #41 closed

[2022-10-20 17:00] stramel commented on #48
Yep, duplicate of #29

[2022-10-20 17:00] #48 closed

[2022-10-20 17:03] stramel commented on #23
Thanks for suggesting this. I think this takes a slightly different approach and both can co-exist.

I have added the Astro support for `unplugin-icons` upstream so both should work now.

[2022-10-20 17:03] #23 closed

[2022-10-20 17:10] stramel commented on #54
Thanks for the suggestion! I think this is a nice to have feature that shouldn't require too much effort. I will go ahead and add this to the list of features I would like to tackle.

In the meantime, you can checkout [my comment here](https://github.com/natemoo-re/astro-icon/issues/29#issuecomment-1273574812) that allows you to use the local `@iconify/json` module to retrieve the icons instead of

[2022-10-20 17:11] stramel commented on #62
@J-env Can you provide more information? I'm able to see the Prop tips in VSCode when using this package.

[2022-10-20 17:13] stramel commented on #57
Thanks for looking into this further @dwightjack. I will go ahead and close this ticket since it seems to be related to Astro and not specifically an issue with this package.

[2022-10-20 17:13] #57 closed

[2022-10-20 17:15] stramel commented on #55
I think we can supply both until we're ready for a breaking change.

[2022-10-20 17:20] stramel commented on #40
It sounds like the documentation of styling the Astro-Icons could be improved to include documentation about the exposed `class` property.

[2022-10-20 17:22] stramel commented on #39
@okikio I have tested this and I'm unable to reproduce this. Can you provide an example or a reproducible use-case via [astro.new](https://astro.new/)?

[2022-10-20 17:24] stramel commented on #38
@RobertAKARobin I think this is definitely something we can improve upon. Making the path configurable or allowing for specifying custom paths would be useful.

However, I would caution you about using the `/public` folder as it could add to your total build size since all assets in the `/public` folder are intended to not need processing and are emitted as-is to the final build. You can [read mor

[2022-10-20 17:38] stramel commented on #52
This definitely seems related to #25. I'm not very familiar with Deno but switching to the browser version of `svgo` seems like it might resolve the issue temporarily at least.

[2022-10-20 17:54] stramel commented on #49
This is as expected. We only pass to the top-level `svg` tag. If you check out the other Iconify components, they also do the same [codesandbox example](https://codesandbox.io/s/damp-worker-784oz5?file=/src/App.js). This feels like it might be an issue with the IconSet more than anything.

I will leave this open for now to see if there are more people running into this issue before deciding to add

[2022-10-20 18:29] its-ag commented on #2
You **dont need to put** that config now in newer versions (doing so causes build issues)
Maintainer: Please update your docs in npm site.

[2022-10-21 17:43] stramel commented on #35
I was looking into this and think we could utilize the browser version of `svgo` and then allow for specifying a custom optimizer in a file like `src/icons/_optimize.ts`. Does this sound like it would be useful?

[2022-10-23 12:03] simpleauthority commented on #35
I tried to fork astro-icon to use the browser version before, but was unsuccessful. If you can figure out how to get that to work, then yes!

[2022-10-24 16:57] stramel commented on #35
Will be working to shift `svgo` over to build time optimization and only apply it to local icons.

[2022-10-24 16:58] stramel commented on #52
Will be working on SSR support as part of the next release.

[2022-10-25 17:29] demiro commented on #52
when is the next release coming out?
coz I am having problems when trying to build astro (with node)

[code]

[2022-10-26 04:37] chayapan commented on #50
This bug is fixed as of 1.0.9.
Here is part of the working astro.config.mjs

`
...
export default defineConfig({
  site: SITE_URL,
  base: SITE_PATH,
  vite: {
    ssr: {
      external: ["@11ty/eleventy-img", "svgo"],
    },
  },
});`

[2022-10-26 14:56] Janssenhidal commented on #55
Are there any updates regarding this issue? Is this something that's going to be fixed in the near future?

Thanks

[2022-10-26 14:58] rupampoddar commented on #35
Figured out a simple workaround (thanks to @simpleauthority 's comment).

We need to patch the `astro-icon` package. More specifically we need to update `line 5` of `lib/utils.ts` .

I'm using **pnpm** and it has built-in patching feature.
**Read this**: https://pnpm.io/cli/patch (watch the video on that page)

(**Note**: yarn v2+ also has built-in patching feature, for **npm** you could use https

[2022-10-26 15:32] stramel commented on #55
@Janssenhidal I'm working on a path forward for `astro-icon` currently. I will see if I can squeeze this in the current planned release.

[2022-10-26 16:11] stramel commented on #55
@Janssenhidal I'm working on a plan forward with `astro-icon`.

Taking a step back and looking at this request, there isn't an actual issue with the existing code. This comes down to the validator being very strict conformance to the HTML spec. You can find more discussions here:
https://github.com/whatwg/html/issues/2271
https://github.com/validator/validator/issues/488

So I think until this is

[2022-10-26 16:11] #55 closed

[2022-10-26 18:10] stramel commented on #35
Looked into this today and it seems there will need to be some effort put into getting this to SSR properly in non-node environments. Will be working on this as a top priority.

[2022-10-26 18:11] stramel commented on #52
I'm going to close this in favor of #35 since both are related to SSR support. Please follow along in there.

[2022-10-26 18:11] #52 closed

[2022-10-26 18:13] #50 closed

[2022-10-27 13:59] stramel commented on #49
Dug into this a bit more for the next refactor. It seems this is an issue with the Iconify Tabler Icon Collection. You should be able to use the custom icon packs as a workaround.

[code]

I'm going to close this out since it has a workaround and is an issue with Iconify. I have also filed a ticket upstream https://github.com/iconify/icon-sets/issues/63

[2022-10-27 13:59] #49 closed

[2022-10-27 14:13] czottmann commented on #49
@stramel Thank you!

[2022-10-27 21:05] itsmatteomanf opened #65 "Updating to `svgo@3` causes issues"
I updated `astro-compress` to its latest `1.1.1` release and this broke icons as it brought with it `svgo@3`. Not fully sure it's an issue with `astro-icon`, might very likely be upstream at Astro itself, but I cannot guarantee it...

This made a change on the `cleanupIDs` plugin, which is now called `cleanupIds`.

I have now pinned `astro-compress` to 1.0.12 especially as the `1.1` feature wasn't

[2022-10-27 23:45] SamiFala commented on #65
Exactly same issue at the same time bro

[2022-10-28 14:42] stramel commented on #65
That's unfortunate that v3 was released in a minor bump to the project. It's always tough to handle common tooling major bumps without any issues downstream.

For now, you will have to fix your `astro-compress` versions to a specific version `1.0.12` until we have time to update our code.

We do have a plan to move to `svgo@3` in the near future.

[2022-10-28 14:45] itsmatteomanf commented on #65
Yeah, which is what caused me to investigate. It wasn't immediately obvious as it being a minor bump only I didn't expect to have issues, especially as `astro-compress` runs after everything is done.

Happy to see a solution will be found, hopefully soon. Thanks!

[2022-10-31 01:22] ThatOneCalculator opened #66 "No `simple-icons:pocketbase`"
Despite it being listed as an icon:

![image](https://user-images.githubusercontent.com/44733677/198912953-b58fdb19-5f17-463c-836b-da5f3f3bb662.png)

I get this error:

[code]

![image](https://user-images.githubusercontent.com/44733677/198912982-9f2301e5-7f2b-4e4b-b604-efd5b57c337d.png)

[2022-10-31 10:32] demiro commented on #35
@rupampoddar tried to apply the patch you mentioned, but I am getting this error:

![image](https://user-images.githubusercontent.com/514682/198988246-c44d6594-5e41-4761-b0fb-34257933622d.png)

[2022-10-31 10:36] demiro commented on #35
I tried the patch @rupampoddar suggested, but I am getting this error

![image](https://user-images.githubusercontent.com/514682/198988877-fc0d296f-cbba-4b67-a7d9-813cb996cba1.png)

[2022-10-31 14:51] rupampoddar commented on #35
Hi @demiro ,
Have you added `external: ["svgo"]` in astro config ?

Here's my `astro.config.mjs` file:

[code]

[2022-10-31 15:36] stramel commented on #66
Duplicate of #29

[2022-10-31 15:36] #66 closed

[2022-11-07 13:28] christian-hackyourshack opened #67 "Sporadic crash of Astro dev server with error in astro/icon"
The following happens every once in a while (1 out of 4-5 times) when starting or restarting the Astro dev server.

[code]

[2022-11-09 23:49] smithbm2316 commented on #65
I personally found a resolution to this by adding `svgo` as a dev dependency and pinning it to version `2.8.0` (`pnpm add -D svgo@2.8.0`). seems to work as intended for me in both my astro dev server and builds!

[2022-11-11 16:23] stramel commented on #67
@christian-hackyourshack Can you share a bit more about your setup and some code?I'm unable to determine based off the error message above what the issue is.

[2022-11-11 16:24] stramel commented on #39
I'm going to close this for now. I'm willing to re-open if we can reproduce the issue described.

[2022-11-11 16:24] #39 closed

[2022-11-11 16:24] stramel commented on #62
I'm going to close this for now. I'm willing to re-open if more details are provided and proves to be an issue with the library.

[2022-11-11 16:24] #62 closed

[2022-11-11 16:25] stramel commented on #37
I'm going to close this since it appears to be an error in syntax used. I'm willing to open this if more details are provided and it proves to be an issue with the library.

[2022-11-11 16:25] #37 closed

[2022-11-12 11:57] manuelmeister commented on #29
What is actually the advantage of having a custom API, as opposed to using Iconify's API directly?

@natemoo-re why did you choose to create an API?

I've tried to create a small subset of this package without an own api: [manuelmeister/astro-iconify](https://github.com/manuelmeister/astro-iconify) and it works exactly the same, but without an intermediary api. Could this also be a way forward? (O

[2022-11-14 12:55] christian-hackyourshack commented on #67
I can't tell you much, as it always happens during startup.

My setup:

- astro 1.6.7 (vite 3.2.3)
- astro-icon 0.8.0

I am using astro-icon only in one place at the moment with some custom icons, but it never hits that place, it is during initial module loading that it crashes (as can be seen in the stacktrace above).

[2022-11-15 18:55] paulrudy opened #68 "Allow svgs with titles to keep them after svgo optimization"
Thanks for this plugin! I have a suggestion:

It looks like svgo's removeTitle plugin is [enabled by default](https://github.com/natemoo-re/astro-icon/search?q=removeTitle).

While I learned from #36 that there is a prop for _adding_ a title to an svg, I think it would be helpful to permit svg's that already have a title embedded to _keep_ their titles, without needing to re-add them.

Perhaps eit

[2022-11-19 07:14] Veylkh opened #69 "Build failing on astro@^1.6.8 with "Error: [astro-icon] Unable to load icon""
Since updating to astro 1.6.8 (worked in .7), I'm getting this error:

[code]
I've tried all the new versions of astro (up to .10), along other updates or without, but to no avail.
It seems to break with the other icons as well; they are stored in the repo itself and called as such:

[code]
File path being `src\icons\tools\nvidia.svg`

If this has to do with astro itself, I can create an issue on

[2022-11-20 13:23] Veylkh commented on #69
Tried updating astro **after** astro-compress and it seems to be working now (suspecting that it might not be the cause, though).

[2022-11-29 13:48] Veylkh commented on #69
It seems caused by doing `npm up`. Updating each dependency individually with `npm i` makes it work.

It's strange that it errors out by running `npm up` - possibly caused by the sub-dependencies newer versions?